@import "variables.css";
@import "buttons.css";
@import "tables.css";
@import "mobile.css";

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: "Avenir LT W01_55 Roman1475520", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.scrolling-background {
    min-width: 100%;
    min-height: 100%;
    background: url(/static/img/coffee_bean_background.jpg);
    background-repeat: repeat;
    animation: scroll 60s linear infinite;
    position: absolute;
    background-position: 0,0;
    background-size: auto 100%;
    background-attachment: scroll;
    z-index: -20;
    top: 0;
    left: 0;
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 500px;
    }
}

#main-title {
    color: var(--orange-highlight);
    font-size: 25px;
    max-width: 100px;
    margin-left:130px;
}

#iw-logo {
    max-width: 30%;
    margin-left: auto;
    margin-right:auto;
    display: block;
    top:-20px;
}

#briw-logo {
    max-width: 120px;
    float: left;
    padding-right: 0px;
    transition: 0.5s;
    position: absolute;
    top: 25px;
}

#menu-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 80px;
    background-color: var(--grey-highlight);
    border: none;
}

#header {
    background-color: var(--grey-highlight);
    position: fixed;
    min-width: 100%;
    top: 0;
    padding-top: 15px;
    max-height: 20%;
    border-bottom: 5px solid var(--black-highlight);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#header-content {
    padding-left: 15px;
    padding-right: 15px;
}

#content {
    width: 50%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: var(--grey-highlight);
    border-radius: 25px;
}

#page-title {
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
}

#footer {
    width: 90%;
    text-align: center;
    font-size: 10px;
    margin: 30px auto 30px auto;
}

.orange-color {
    color: var(--orange-highlight);
}

.header-title {
    max-width: 200px;
}

#nav-bar {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: var(--black-highlight)
}

.nav-link {
    padding-left: 20px;
}

#nav-bar a:hover {
    color: var(--text-color);
}

a {
    color: var(--orange-highlight);
    text-decoration: none;
}

.error-message {
    color: var(--error-color);
    display: none;
}