@media only screen and (max-width:600px) {
    #briw-logo {
        max-width: 70px!important;
    }

    #iw-logo {
        max-width: 50%!important;
    }

    #main-title {
        font-size: 20px!important;
        margin-left: 80px!important;
    }
    
    #menu-icon {
        top: 50px!important;
        right: 20px!important;
        width: 50px!important;
    }

    #page-title {
        font-size: 30px!important;
    }

    table th {
        font-size: 15px;
    }

    table td {
        font-size: 15px;
    }

    #content {
        margin-top: 150px!important;
        max-width: 80%!important;
    }

    .scrolling-background {
        width: 100%!important
    }

    .button-main a {
        font-size: 20px!important;
    }
    
    .button-list a {
        font-size: 20px!important;
    }

    #nav-bar {
        display: none;
    }

    .nav-link {
        margin-left:20%!important;
        margin-right:20%!important;
        padding-bottom: 10px;
        font-size: 20px;
    }

    #header {
        min-height: 10%!important;
    }

    form {
        font-size: 15px;
    }

    select {
        font-size: 15px;
    }
}