:root {
    --main-bg-color: #2d2d2d;
    --grey-highlight: #333F48;
    --black-highlight: rgb(75, 74, 74);
    --orange-highlight: #ed6b39;
    --btn-hover: white;
    --text-color: white;
    --teal-highlight: #00B2A9;
    --green-highlight: green;
    --error-color: red;
}