{% extends "layout.html" %}
{% block title %}Rounds{% endblock %}
{% set page_title = "Drinks" %}
{% block content %}
    <div class="button">
        <a id="js-create-drink-btn" onclick="">Add a Drink</a>
    </div>

    <div class="content-block">
        {% if drinks %}
            <ul>
            {% for drink in drinks %}
                <li>{{ drink.name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>Currently no drinks</h3>
        {% endif %}
    </div>

{% include "new_drink_modal.html" %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/drinks_view.js"></script>
{% endblock %}