{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% set page_title = "Welcome!" %}
{% block content %}
    <div class="content-block">
        <h3>What is <span class="orange-color">BrIW?</span></h3>
        <p>
            BrIW is a bespoke application for offering drinks to your co-workers!</br></br>

            Join an existing round to order drinks or create a new round to offer to make some!
        </p>
        </br>
        <div class="button">
            <a href="/rounds">Create/Join a Round</a>
        </div>
    </div>
{% endblock %}