{% extends "modal_template.html" %}
{% set modal_title = "New Order" %}
{% set modal_id = "js-create-order-modal" %}
{% block modal_body %}
    <form method="POST" action="#">
        <div class="form-element">
            <label for="person_id">Who's the drink for?</label>
            <select id="js-modal-person-select" name="person_id">
                <option value="" selected disabled>Please select a person...</option>
                {% for person in people %}
                    <option value="{{person.person_id}}">{{person.full_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element">
            <label for="drink_id">What drink would they like?</label>
            <select id="js-modal-drink-select" name="drink_id">
                <option value="" disabled selected>Please select a drink...</option>
                {% for drink in drinks %}
                    <option value="{{drink.drink_id}}">{{drink.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element">
            <label for="special_requests">Any special requests?</label>
            <textarea cols="30" rows="5" name="special_requests" placeholder="2 sugars"></textarea>
        </div>
        <div class="form-element">
            <input class="button-main" type="submit" value="Place Order">
        </div>
    </form>
{% endblock %}