{% extends "layout.html" %}
{% block title %}Rounds{% endblock %}
{% set page_title = round.maker_fullname + "'s Round" %}
{% block content %}
    <div class="content-block">
        {% if round.orders %}
            {% for drink_name, orders in round.orders.items() %}
                <button class="button-list">
                    {{drink_name}} ({{orders|length}})
                </button>
                {% for order in orders %}
                    <input type="checkbox">&nbsp;{{order.fullname}}
                {% endfor %}
            {% endfor %}
        {% else %}
        <h3>Currently there are no orders</h3>
        {% endif %}
        <div id="js-create-order-btn" class="button-main">
            <button onclick="">Order a Drink</button>
        </div>
    </div>
{% include "new_order_modal.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/orders_view.js"></script>
{% endblock %}