{% extends "layout.html" %}
{% block title %}Rounds{% endblock %}
{% set page_title = round.maker_fullname + "'s Round" %}
{% block content %}
    <div class="button" id="js-create-order-btn">
        <a>Order a Drink</a>
    </div>
        {% if round.orders %}
            {% for drink_name, orders in round.orders.items() %}
            <div class="content-block">
                <h3>
                    {{drink_name}} ({{orders|length}})
                </h3>
                {% for order in orders %}
                    <input type="checkbox">&nbsp;{{order.fullname}}
                {% endfor %}
            </div>
            {% endfor %}
        {% else %}
        <h4>Currently no orders</h4>
        {% endif %}
{% include "new_order_modal.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/orders_view.js"></script>
{% endblock %}