{% extends "layout.html" %}
{% block title %}People{% endblock %}
{% set page_title="People" %}
{% block content %}
<div class="button" id="js-create-person-btn">
    <a onclick="">Add a Person</a>
</div>

<div class="content-block">
    {% if people %}
        {% for person in people %}
            <button class="button-list">
                {{ person.full_name }}
            </button>
        {% endfor %}
    {% else %}
        <h3>Currently no people</h3>
    {% endif %}
</div>
{% include "new_person_modal.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/people_view.js"></script>
{% endblock %}