{% extends "layout.html" %}
{% block title %}Rounds{% endblock %}
{% set page_title="Rounds" %}
{% block content %}
<div class="button" id="js-create-round-btn">
    <a>Create a Round</a>
</div>

<div class="content-block">
    <h3>Current Rounds</h3>
    {% if current_rounds %}
        {% for round in current_rounds %}
            <button class="button-list" onclick="window.location.href='/rounds/{{round.round_id}}/orders'">
                Maker: {{round.maker_fullname}}
            </button>
        {% endfor %}
    </table>
    {% else %}
    <h4>Currently no rounds</h4>
    {% endif %}
</div>

{% if past_rounds %}
<div class="content-block">
    <h3>Expired Rounds</h3>
        {% for round in past_rounds %}
                <button class="button-list" onclick="window.location.href='/rounds/{{round.round_id}}/orders'">
                    Maker: {{round.maker_fullname}}
                </button>
        {% endfor %}
    </table>
</div>
{% endif %}
{% include "new_round_modal.html" %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/rounds_view.js"></script>
{% endblock %}